<nav class="navbar navbar-expand-sm navbar-custom">

  <div class="col-lg-6">
    <div style="float: left;">
      <b style="font-size: 20px;">Dashboard</b>
    </div>
  </div>

  <div class="col-lg-6">

    <div style="float: right;">
      <ul>
        <li>
          <a routerLink="">Abouts Us</a>
        </li>
        <li>
          <a *ngIf="!loginData" routerLink="login">Login</a>
          <a *ngIf="loginData" (click)="logoutUser()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>